#popup {
    width: 40em;
    overflow: hidden;
    margin: auto;
}

header {
    display: grid;
    gap: .5em;
    padding: .75em;
    position: sticky;
    top: 0;
    background: rgba(17,17,17,1);    
    justify-content: center;
    grid-auto-flow: column;
    align-items: center;
}

#logo {
    width: 3em;
    margin-right:4px;
}

main {
    display: grid;
    gap: 2em;
    padding: 1.5em 0.5em;
    background: rgba(17,17,17,1);
}

section {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: .75em;
}

h1{
    font-size: 1.75em;
    font-weight: 900;
    text-align: center;
}

label {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

section>* {
    padding: 0 1rem;
}

.center {
    display: grid;
    place-items: center;
}

.left {
    display: grid;
    justify-items: start;
    align-items: center;
    text-align: left;
}

.toggle-option {
    display: grid;
    gap: .5em;
}
